<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Tagline</title>
</head>

<body>
    <div class="container">

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 justify-content-center"
                style="background: url(../../website/assets/img/bg.jpg); background-size: cover; height: 100%; width: 100%;">
                <h1 class="display-5 fw-bold bg-light">One Page Wonder</h1>
                <h2 class="col-md-8 fs-4 bg-light">Will Knock Your Socks Off</h2>
            </div>
        </div>
    </div>

</body>

</html>