<div class="tagline">
    <div class="tagline bg-light rounded-3">
        <div class="tagline d-flex justify-content-center align-items-center"
            style="background: url(../../website/assets/img/bg.jpg); background-size: cover; height: 100%; width: 100%;">
            <div class="w-100">
                <h1 class="display-1 fw-bold bg-light w-100 text-center">One Page Wonder</h1>
                <h2 class="display-2 col-md-8 fs-4 bg-light w-100 text-center">Will Knock Your Socks Off</h2>
            </div>
        </div>
    </div>
</div>